<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
    <header>
        <menu>
            <li>
                <ul><a th:href="@{/productos/}">Nuevo Producto</a></ul>
            </li>
        </menu>
    </header>
    <section>
        <h1 th:text="${titulo}">BodyTitle</h1>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>precio</th>
                <th>fecha</th>
                <th>categoria</th>
                <th>actualizar</th>
                <th>eliminar</th>
                <th>detalle</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto: ${productos}">
                <!-- Es posible abreviar el ID utilizando helpers: ${#strings.abbreviate(producto.id, 10)} -->
                <td th:text="${#strings.abbreviate(producto.id, 10)}"></td>
                <!--<td th:text="${producto.id}"></td>-->
                <td th:text="${producto.nombre}"></td>
                <td th:text="${#numbers.formatCurrency(producto.precio)}"></td>
                <td th:text="${#calendars.format(producto.createAt,'dd/MM/yyyy')}"></td>
                <td th:text="${producto.categoria.nombre}"></td>
                <td><a th:href="@{/productos/} + ${producto.id}">editar</a></td>
                <td><a th:href="@{/productos/el/} + ${producto.id}">borrar</a></td>
                <td><a th:href="@{/productos/re/} + ${producto.id}">ver</a></td>
            </tr>
            </tbody>
        </table>
    </section>
    <aside>
        <div th:if="${param.error != null}" th:text="${param.error}"></div>
        <div th:if="${param.success != null}" th:text="${param.success}"></div>
    </aside>
    <footer>
        <p>Programación Reactiva: UDEMY Pragma - Ing.JEDagobethM - Agosto 2022.</p>
    </footer>
</body>
</html>